*{
    padding:0;
    margin: 0;
    box-sizing: 0;

}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
body{
    scroll-behavior: smooth;
}
header{
    background-color: #333;
    /*fixo*/
    position: fixed;
    /*vw largura do navegador*/
    width: 100vw;
}
/*Para as nav ficarem em linha nao e coluna*/
header nav ul{
    display: flex;
    justify-content: space-between;
    /*Aumanetando a altura do header*/
    padding: 16px;
}
header nav a{
    color: white;
    padding: 8px;
    /*ficar devagar ao passar o mouse*/
    transition: background-color 1s;
}
/*quando passar por cima do mouse*/
header nav a:hover{
    background-color: lightblue;
    color: black;

}
.grupo{
    height: 100vh;
}
#vermelho{
    background-color: #ff6b6b;
}
#verde{
    background-color: #1dd1a1;
}
#azul{
    background-color: #54a0ff;
}
#amarelo{
    background-color: #feca57;
}
#roxo{
    background-color: purple;
}